@page
@model INET_2005_Final_Project.Pages.Products.IndexModel

@{
    ViewData["Title"] = "AdminIndex";
}

<h1>Index</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].FileName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].isMovie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Runtime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Condition)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Product) {
    string imagePath = "/photos/" + item.FileName;
    
    // Render a more readible boolean value
    string formattedIsMovie;
    if (item.isMovie) formattedIsMovie = "Movie";
    else formattedIsMovie = "Album";

    int conditionIndex = int.Parse(item.Condition);
    string formattedCondition = Model.ConditionList[conditionIndex];

    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            <img src="@imagePath" class="img-fluid thumbnail" alt="Admin submitted photo">
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td class="description">
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            <span class="badge rounded-pill bg-secondary no-bold">@formattedIsMovie</span>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Runtime)
        </td>
        <td>
            @formattedCondition
        </td>
        <td>
            <div class="admin-btns">
                <a asp-page="./Edit" asp-route-id="@item.ProductId" class="btn btn-primary">Edit</a>
                <a asp-page="./Delete" asp-route-id="@item.ProductId" class="btn btn-primary">Delete</a>
            </div>
            
        </td>
    </tr>
}
    </tbody>
</table>
