@page
@model INET_2005_Final_Project.Pages.DetailsModel
@{
    ViewData["Title"] = "Details";

    string imagePath = "/photos/" + Model.Product.FileName;

    int conditionIndex = int.Parse(Model.Product.Condition);
    string formattedCondition = Model.ConditionList[conditionIndex];

    // Render a more readible boolean value
    string formattedIsMovie;
    if (Model.Product.isMovie)
    {
        formattedIsMovie = "Movie";
    }
    else
    {
        formattedIsMovie = "Album";
    }
}
<div class="container">
    <h1 class="text-center text-light">@formattedIsMovie - @Model.Product.ProductName</h1>

    <div class="row">
        <div class="col-md-6">
            <img src="@imagePath" class="img-fluid" alt="Detail image of media" />
        </div>

        <div class="col-md-6 details-text">
            <table class="table">
                <tbody class="mb-6">
                    <tr>
                        <td>Price</td>
                        <td>$@Model.Product.Price</td>
                    </tr>

                    <tr>
                        <td>Runtime</td>
                        <td>@Model.Product.Runtime minutes</td>
                    </tr>

                    <tr>
                        <td>Condition</td>
                        <td>@formattedCondition</td>
                    </tr>

                    <tr>
                        <td>Description</td>
                        <td>@Model.Product.Description</td>
                    </tr>
                </tbody>
            </table>

            <form method="post" class="text-center">
                <input type="submit" value="Add to Cart" class="btn palette-yellow" />
                <a asp-page="./Index" class="btn btn-dark">Continue Shopping</a>
            </form>
        </div>
    </div>
</div>
