@page
@model INET_2005_Final_Project.Pages.DetailsModel
@{
    ViewData["Title"] = "Details";

    string imagePath = "/photos/" + Model.Product.FileName;

    int conditionIndex = int.Parse(Model.Product.Condition);
    string formattedCondition = Model.ConditionList[conditionIndex];

    // Render a more readible boolean value
    string formattedIsMovie;
    if (Model.Product.isMovie)
    {
        formattedIsMovie = "Movie";
    }
    else
    {
        formattedIsMovie = "Album";
    }
}
<div class="container">
    <h1 class="text-center palette-yellow-text">@Model.Product.ProductName</h1>

    <div class="row">
        <div class="col-md-6">
            <img src="@imagePath" class="img-fluid" alt="Detail image of media" />
        </div>

        <div class="col-md-6 details-text">
            <table class="table">
                <tbody class="mb-6">
                    <tr class="tbl-row-group">
                        <td class="details-item-title">Media Type</td>
                        <td>@formattedIsMovie</td>
                    </tr>

                    <tr class="tbl-row-group">
                        <td class="details-item-title">Price</td>
                        <td>$@Model.Product.Price</td>
                    </tr>

                    <tr class="tbl-row-group">
                        <td class="details-item-title">Runtime</td>
                        <td>@Model.Product.Runtime minutes</td>
                    </tr>

                    <tr class="tbl-row-group">
                        <td class="details-item-title">Condition</td>
                        <td>@formattedCondition</td>
                    </tr>

                    <tr class="tbl-row-group">
                        <td class="details-item-title">Description</td>
                        <td>@Model.Product.Description</td>
                    </tr>
                </tbody>
            </table>

            <form method="post" class="text-center">
                <input type="hidden" asp-for="Product.ProductId" />
                <input type="hidden" asp-for="Product.ProductName" />
                <input type="hidden" asp-for="Product.FileName" />
                <input type="hidden" asp-for="Product.Price" />
                <input type="hidden" asp-for="Product.Description" />
                <input type="hidden" asp-for="Product.isMovie" />
                <input type="hidden" asp-for="Product.Runtime" />
                <input type="hidden" asp-for="Product.Condition" />
                <div class="details-btns">
                    <input type="submit" value="Add to Cart" class="btn palette-yellow" data-bs-toggle="modal" data-bs-target="addCartModal" />
                    <a asp-page="./Index" class="btn btn-dark">Continue Shopping</a>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row container text-center">
    @if (Model.addedToCart)
    {
        <p>@Model.returnMessage</p>

        <div class="details-btns">
            <a asp-page="/Checkout" class="btn palette-yellow">Checkout</a>
            <a asp-page="/Index" class="btn btn-dark">Continue Shopping</a>
        </div>
    }
</div>

@* 
<div class="modal fade" id="addCartModal" tabindex="-1" aria-labelledby="addCartModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-x1">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div id="modal-message">@Model.returnMessage</div>

                <div class="details-btns">
                    <a asp-page="/ShoppingCart" class="btn palette-yellow" />
                    <a asp-page="/Index" class="btn btn-dark">Continue Shopping</a>
                </div>
            </div>
        </div>
    </div>
</div>
 *@