@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
    string featuredImage = "/photos/" + Model.randProduct.FileName;
}

<div class="col-md-12 container">
    <div class="row">
        <div class="featured-info">
            <h1>Featured Product</h1>
            <h2>@Model.randProduct.ProductName</h2>
            <p>@Model.randProduct.Description</p>
            <a asp-page="Details" asp-route-id="@Model.randProduct.ProductId" class="featured-btn">Details</a>
        </div>
        <img src="@featuredImage" class="featured-img" alt="Featured product image"
    </div>
</div>

<div class="col-md-12 container">
    <div class="row">
        <h1>Movies</h1>
        @foreach(var item in Model.moviesList)
        {
            string imagePath = "/photos/" + item.FileName;
            <div class="col-md-2">
                <div class="card">
                    <a asp-page="Details" asp-route-id="@item.ProductId">
                        <img src="@imagePath" class="card-img-top" alt="Card media image">
                        <div class="card-body">
                            <h5>@item.ProductName</h5>
                            <p>$@item.Price</p>
                        </div>
                    </a>
                </div>
            </div>
        }
    </div>

    <div class="row">
        <h1>Albums</h1>
        @foreach (var item in Model.albumsList)
        {
            string imagePath = "/photos/" + item.FileName;
            <div class="col-md-2">
                <div class="card">
                    <a asp-page="Details" asp-route-id="@item.ProductId">
                        <img src="@imagePath" class="card-img-top" alt="Card media image">
                        <div class="card-body">
                            <h5>@item.ProductName</h5>
                            <p>$@item.Price</p>
                        </div>
                    </a>
                </div>
            </div>
        }
    </div>
</div>
